<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/footer.css}" />
</head>
<body>
<footer style="background: #101522;padding: 0 0 25px 0;
    color: #eee;
    font-size: 14px;" id="footer" th:fragment="footer">
    <div style="background: #040919;
    padding: 30px;
    margin-bottom: -25px;" class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-4 footer-info">
                    <img src="images/F.png" alt="" width=32 height=25><strong><span style="font-size:20pt;"> FOODELI </span></strong>
                    <p> Here in Foodeli we deliver your food in your doorstep it is one click away
                        We welcome you to FOODELI Website! <span style="color:#d62c3d;font-size:15pt;font-family:'Norican';"> Mabuhay!</span></p>
                </div>

               <!-- <div class="col-lg-3 col-sm-4 footer-links">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="fa fa-angle-right"></i> <a href="">Home</a></li>
                        <li><i class="fa fa-angle-right"></i> <a href="">About us</a></li>
                        <li><i class="fa fa-angle-right"></i> <a href="">FAQ</a></li>
                        <li><i class="fa fa-angle-right"></i> <a href="">Contact</a></li>
                    </ul>
                </div>
-->
                <div class="col-lg-3 col-sm-4 footer-links">
                    <h4>Fastfood Restaurants</h4>
                    <ul>
                        <li><i class="fa fa-angle-right"></i> <a href="https://www.mcdonalds.com.ph" target="_blank">Mcdonalds</a></li>
                        <li><i class="fa fa-angle-right"></i> <a href="https://www.kfc.com.ph/menu/overview?gclid=CjwKCAjwrfCRBhAXEiwAnkmKmZsBNV21SUKJ7nB9hWw9T4_wXCBfMpog4-HhWRwI7lLu9_mYu3kP4RoC6bEQAvD_BwE" target="_blank">Kentucky Fried Chicken</a></li>
                        <li><i class="fa fa-angle-right"></i> <a href="https://www.bk.com" target="_blank">Burger King</a></li>
                    </ul>
                    <br />
                    <h4>Other Links</h4>
                    <ul>
                        <li><i class="fa fa-angle-right"></i> <a href="http://www.tourism.gov.ph/" target="_blank">NA</a></li>
                    </ul>
                </div>

                <div class="col-lg-3 col-sm-4 footer-contact">
                    <h4>Contact Us</h4>
                    <p>
                        1560F San Andres Bukid. Gil J. <br>
                        Puyat Ave, Makati,<br>
                        1200 Metro Manila <br>
                        <strong>Telephone:</strong> (02) 8891 0827<br>
                        <strong>Email:</strong> blankwelston@gmail.com<br>
                    </p>

                    <div class="social-links">
                        <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                        <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                        <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                        <a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a>
                        <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="copyright-box">
                <p class="copyright">&copy; <strong>FOODELI 2022</strong>. All Rights Reserved</p>
                <div class="credits">
                    Designed by <span style="color:#6eb8d3;">Lat | Salazar</span>
                </div>
            </div>
        </div>
    </div>
</footer><!-- End  Footer -->
</body>
</html>